.study {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4rem;
  color: var(--font-color);
  transition: ease-in-out 0.2s;
  width: calc(50% - 8rem);
}

.study:nth-child(even) {
  flex-direction: row-reverse;
  text-align: right;
}

.study:nth-child(2) {
  background-color: transparent;
}

.study:nth-child(3) {
  background-color: transparent;
}

.study-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  background-color: var(--light);
  border-radius: 50px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.study-image img {
  width: 90%;
}

.study-info {
  width: 70%;
}

.study-info h2 {
  margin: 20px;
  font-size: 2rem;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.study-info h3 {
  margin: 0;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}

.study-info h2 span {
  text-decoration: underline;
  transition: ease-in-out 0.15s;
}

.study-info h2 span:hover {
  cursor: pointer;
  opacity: 0.5;
}

.study-info p {
  margin: 30px;
  font-size: 1.2rem;
}

@media screen and (max-width: 1300px) {
  .study {
    padding: 1rem;
    width: calc(100% - 2rem);
  }

  .study:nth-child(2) {
    background-color: var(--primary-color);
  }

  .study:nth-child(4) {
    background-color: var(--primary-color);
  }
}

@media screen and (max-width: 750px) {
  .study-info h2 {
    font-size: 1.5rem;
  }

  .study-info h3 {
    font-size: 1.2rem;
  }

  .study-image {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 500px) {
  .study-info h2 {
    font-size: 1.2rem;
  }

  .study-info h3 {
    font-size: 1rem;
  }

  .study-image {
    border-radius: 30px;
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 400px) {
  .study-info h2 {
    margin: 10px;
    font-size: 1rem;
  }

  .study-info h3 {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0.8rem;
  }

  .study-image {
    border-radius: 20px;
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 320px) {
  .study-info h2 {
    font-size: 0.7rem;
  }

  .study-info h3 {
    font-size: 0.5rem;
  }

  .study-image {
    border-radius: 15px;
    width: 70px;
    height: 70px;
  }
}
