/* Greet section */
.greet-section {
  position: fixed;
  top: 0;
  padding: 20rem 10rem 0 10rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: -9999;
  transform-origin: top center;
}

/* Greet text */
.greet-text {
  width: 45%;
}

.greet-text h1 {
  font-size: 3rem;
  font-weight: 500;
  color: var(--font-color);
  transition: ease-in-out 0.5s;
}

.greet-text h1 span {
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 3.5rem;
  transition: ease-in-out 0.2s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(10px);
  }
}

.greet-text p {
  text-align: right;
  font-size: 1.4rem;
  color: var(--font-color);
  transition: ease-in-out 0.5s;
  animation: bounce 2s infinite;
}

/* Greet image */
.greet-image-container {
  width: 500px;
  text-align: center;
}

.greet-image-container img,
.greet-image-container div {
  position: absolute;
  margin: auto;
  width: 450px;
}

.greet-image-container div {
  border-radius: 100%;
  border: 20px solid var(--secondary-color);
  height: 300px;
  transition: ease-in-out 0.3s;
}

.greet-image-container img {
  clip-path: ellipse(61% 50% at 50% 50%);
  transform: rotate(6deg);
  user-select: none;
  height: auto;
  margin-top: -166px;
  margin-left: -236px;
  transition: ease-in-out 0.2s;
}
