body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: linear-gradient(
    to bottom right,
    var(--background-color),
    color-mix(in srgb, var(--background-color) 30%, var(--secondary-color) 70%)
  );
  transition: ease-in-out 0.2s;
}

.App {
  z-index: -9999;
  max-width: 2200px;
  margin: auto;
  display: block;
}

.loaded {
  display: none;
}

#tsparticles {
  z-index: -9999;
}

.unfade-particle {
  opacity: 0.5;
}

.fade-particle {
  opacity: 0.3;
}

.hide {
  display: none;
}

.fade {
  opacity: 0;
}

.darken {
  filter: brightness(0.8);
}

:root {
  --light: #ececec;
  --dark: #001429;

  --primary-color: #005fc6;
  --secondary-color: #007bff;

  --background-color: var(--white);
  --font-color: var(--black);
}
