body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--primary-color);
  transition: ease-in-out 0.2s;
}

.App {
  height: 100vh;
}

.hide {
  display: none;
}

.fade {
  opacity: 0;
}

:root {
  --light: #ececec;
  --dark: #001429;

  --primary-color: #ececec;
  --secondary-color: #007bff;

  --background-color: var(--white);
  --font-color: var(--black);
}
